@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

body {
  background: #0b2434;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game {
  display: flex;
  flex-direction: column;

  gap: 20px;

  width: 320px;
  padding: 33.28px 34.56px 33.92px 34.56px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #f5f5f5;
}

.text > h1 {
  color: #2b283a;
  text-align: center;
  font-size: 25.6px;
  font-weight: 700;
  letter-spacing: -0.768px;
}

.text > p {
  color: #4a4e74;
  text-align: center;
  font-size: 13.107px;
  font-weight: 400;
  letter-spacing: -0.393px;
}

.tenzies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 5%;
  row-gap: 15px;
}

.tenz {
  width: 35.84px;
  height: 35.84px;
  flex-shrink: 0;
  border-radius: 3.813px;
  background: #fff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.15);
  color: #2b283a;
  font-size: 20.589px;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.locked {
  background: #59e391;
}

.game > button {
  color: #fff;
  font-size: 16.384px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  background: #5035ff;
  padding: 6px 21px;
  border-radius: 5px;
}
